/**
* Nav
*
* @section Components
* @author ljd
*/
.c-nav {
	@include adjust-font-size-to(modular-scale(1));
	text-align: center;
}
.c-nav__link {
	display: block;
	margin-bottom: spacer-size(0);
	
	text-align: center;
}